@font-face {
    font-family: 'Cameo';
    src: url('assets/CameoAppearanceNF.ttf');
}

@font-face {
    font-family: 'Dyer';
    src: url('assets/Dyer-Arts-and-Crafts.ttf');
}

@font-face {
    font-family: 'HiLo';
    src: url('assets/HiLo-Deco.ttf');
}

@font-face {
    font-family: 'Nicker';
    src: url('assets/NickerbockerNF.ttf');
}

body,
html {
    height: 100%;
    width: 100%;
    font-family: 'HiLo', sans-serif;
    font-weight: 700;
    font-size: 1.5vw;
    margin: 0;
}

.navbar {
    width: 100%;
    position: fixed;
}

.navbar-home {
    margin-right: 50vw;
}

.container-fluid>a,
.download>a {
    color: white;
    text-decoration: none;
}

.bgimg-1 {
    background-image: url('assets/portfolio-home.jpg');
    min-height: 100%;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.welcome {
    -webkit-text-fill-color: rgb(252, 252, 252);
    -webkit-text-stroke: 0.5px black;
    position: relative;
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: center;
    top: 8vh;
    font-size: 5vw;
    font-family: 'Dyer', sans-serif;
}

.welcome2 {
    -webkit-text-fill-color: rgb(252, 252, 252);
    -webkit-text-stroke: 0.5px black;
    position: relative;
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: center;
    top: 58vh;
    font-size: 5vw;
    font-family: 'Nicker', sans-serif;
}

#portfolio {
    display: flex;
    flex-flow: column;
    align-items: center;
    height: auto;
    box-sizing: content-box;
    width: 100%;
    padding: 6.525% 6.525% 0 6.525%;
    background-color: #dfd9c9;
    background-image: url("https://www.transparenttextures.com/patterns/arches.png");
}

#appContainer {
    justify-content: center;
}

.col-xs-4 {
    position: relative;
    display: flex;
    flex-direction: column;
    max-width: 400px;
    margin: 1%;
    height: 400px;
    padding: 3%;
}

.cardLink {
    position: relative;
    display: flex;
    flex-direction: column;
    max-width: 400px;
    margin: 1%;
    height: 400px;
    padding: 3%;
    text-decoration: none;
}

@media only screen and (min-width: 769px) {
    .col-xs-4:hover .imgBox {
        transform: translateY(-50%);
        transition: 0.75s;
    }
    .col-xs-4:hover .description {
        visibility: visible;
    }
}

.imgBox {
    position: relative;
    width: 100%;
    height: auto;
    z-index: 2;
    transition: 0.75s;
}

img {
    position: relative;
    top: 0;
    left: 0;
    max-width: 300px;
    height: 300px;
    margin: auto;
    border-radius: 20px;
    box-shadow: 2px 2px 10px rgba(75, 75, 75, 0.5);
}

.description {
    position: relative;
    margin-top: -50%;
    text-align: center;
    font-size: 1.5vw;
    color: black;
    background-color: white;
    border-radius: 10px;
    background-clip: content-box;
    box-shadow: inset 4px 4px 10px rgba(75, 75, 75, 0.5);
    visibility: hidden;
    transition: 0.75s;
}

h3 {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50%;
    margin-bottom: 6.5%;
    -webkit-text-stroke: 1px rgb(216, 195, 77);
    font-size: 7vw;
    font-family: 'Cameo', sans-serif;
    background: rgba(0, 0, 0, 0.25);
    border-radius: 50% 50% 10px 10px;
    backdrop-filter: blur(1.5px);
    line-height: 1.5;
    text-shadow: 1px 1px 2px black;
    box-shadow: inset 4px 4px 10px rgba(75, 75, 75, 0.5);
}

h2 {
    font-size: 2vw;
}

.bgimg-2 {
    background-image: url('assets/epicPortrait.PNG');
    width: 100%;
    height: auto;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
}

.display-middle {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    height: auto;
    width: 100%;
    margin-top: 100px;
    margin-bottom: 150px;
}

#past,
#future {
    text-align: justify;
}

span {
    position: relative;
    top: 30px;
    padding: 10%;
    width: 300vw;
    display: flex;
    justify-content: center;
    font-size: 5vw;
    font-family: 'Nicker', sans-serif;
    -webkit-text-fill-color: rgb(252, 252, 252);
    -webkit-text-stroke: 0.5px black;
}

.resume {
    position: relative;
    align-items: flex-start;
    display: flex;
    flex-flow: column;
    justify-content: center;
}

.download {
    position: relative;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
    border-radius: 10px;
    border: solid 2px rgb(216, 195, 77);
    color: white;
    box-shadow: 2px 2px 10px rgba(75, 75, 75, 0.5);
    padding: 2%;
}

.left,
.left2,
.right {
    font-family: 'Nicker', sans-serif;
    font-size: 3rem;
    -webkit-text-stroke: 1px rgb(216, 195, 77);
    text-shadow: 1px 1px 2px black;
    padding: 30px;
}

.left2 {
    position: relative;
    top: 9vh;
    width: 100%;
}

#contact-container {
    display: flex;
    flex-flow: column;
    align-items: center;
    box-sizing: content-box;
    width: 100%;
    padding: 99px;
    background-color: #dfd9c9;
    background-image: url("https://www.transparenttextures.com/patterns/black-thread.png");
}

#contact {
    display: flex;
    align-items: flex-start;
    justify-content: space-evenly;
    height: auto;
    width: 100%;
}

.form-floating {
    height: auto;
}

#floatingName,
#floatingTextarea {
    margin-bottom: 20px;
    box-shadow: 2px 2px 10px rgba(75, 75, 75, 0.5);
}

#floatingInput {
    box-shadow: 2px 2px 10px rgba(75, 75, 75, 0.5);
}

form {
    display: flex;
    flex-flow: column;
    justify-content: center;
}

.footer {
    padding: 50px;
}

#footer {
    font-size: 1.5rem;
    font-family: 'Nicker', sans-serif;
}

button {
    background-color: black;
    border-radius: 10px;
    border-color: rgb(216, 195, 77);
    color: white;
    box-shadow: 2px 2px 10px rgba(75, 75, 75, 0.5);
}

.bi.bi-github {
    position: relative;
    top: 9vh;
    left: 50px;
    transform: scale(4);
    color: black;
    border: solid 1px rgb(216, 195, 77);
    border-radius: 50%;
    background: white;
}

.bi.bi-linkedin {
    position: relative;
    top: 9vh;
    left: 150px;
    transform: scale(4);
    color: black;
    border: solid 1px rgb(216, 195, 77);
    border-radius: 2px;
    background: white;
}

li {
    display: inline-block;
}

@media only screen and (max-width: 768px) {
    body,
    h2,
    #footer {
        font-size: 4vw;
    }
    .bgimg-1,
    .bgimg-2 {
        background-attachment: scroll;
    }
    .navbar-home {
        margin-right: 20vw;
    }
    .welcome {
        font-size: 12vw;
    }
    .welcome2,
    span {
        font-size: 10vw;
    }
    span {
        top: -125vh;
        width: auto;
    }
    #about {
        padding-top: 10%;
    }
    .display-middle {
        flex-flow: column;
        justify-content: center;
    }
    #past,
    #future {
        font-size: 4vw;
        margin: 10%;
        padding: 10% 0 10% 0;
    }
    #past {
        position: relative;
        top: -13vh;
    }
    #future {
        position: relative;
        top: 15vh;
    }
    #portfolio,
    #contact-container {
        box-sizing: border-box;
        padding: 6% 0 0 0;
    }
    #contact-container {
        position: relative;
        top: -20vh;
        padding-bottom: 10%;
    }
    #contact {
        flex-flow: column;
        align-items: center;
        justify-content: center;
    }
    .left2,
    .download {
        position: relative;
        top: -2vh;
    }
    .social {
        position: relative;
        top: -10vh;
    }
    #appContainer {
        position: relative;
        margin-right: 0;
        left: -8vw;
    }
    h3 {
        font-size: 15vw;
        width: 100%;
    }
    #floatingName,
    #floatingInput,
    #floatingTextarea,
    .download,
    button {
        box-shadow: none;
        font-size: 4vw;
    }
    #floatingName,
    #floatingInput,
    #floatingTextarea {
        margin: 0 0 10% 0;
        padding-top: 15%;
        padding-bottom: 10%;
    }
    .left,
    .left2,
    .right {
        font-size: 10vw;
    }
    .description {
        visibility: visible;
        z-index: 3;
        margin-top: 0;
        transition: 0s;
        width: 300px;
        font-size: 4vw;
    }
    #footer {
        position: relative;
        top: -20vh;
        font-size: 6vw;
    }
}